<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="usuarioDao" class="cu.desoft.gtm.sigeml.administracion.seguridad.dao.impl.UsuarioDaoImpl" parent="applicationDao"/>	
	<bean id="perfilDao" class="cu.desoft.gtm.sigeml.administracion.seguridad.dao.impl.PerfilDaoImpl" parent="applicationDao"/>	
	<bean id="permisoDao" class="cu.desoft.gtm.sigeml.administracion.seguridad.dao.impl.PermisoDaoImpl" parent="applicationDao"/>
    
    <bean id="usuarioService" class="cu.desoft.gtm.sigeml.administracion.seguridad.service.impl.UsuarioServiceImpl" parent="applicationService">
    	<property name="usuarioDao" ref="usuarioDao" />    
    </bean>	
    
    <bean id="perfilService" class="cu.desoft.gtm.sigeml.administracion.seguridad.service.impl.PerfilServiceImpl">
    	<property name="perfilDao" ref="perfilDao" />    
    </bean>
    
    <bean id="permisoService" class="cu.desoft.gtm.sigeml.administracion.seguridad.service.impl.PermisoServiceImpl">
    	<property name="permisoDao" ref="permisoDao" />    
    </bean>
 </beans>
