body  {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*color: #6B6B6B;*/
    color: #000000;
    	
	background-image:url(../img/fondopagina.jpg);
    margin: 0; /* es recomendable ajustar a cero el margen y el relleno del elemento body para lograr la compatibilidad con la configuración predeterminada de los diversos navegadores */
    padding: 0;
    text-align: center;
}

input, textarea {
	/*padding: 2px 5px;*/
	border: 1px solid #EBEBEB;
	font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #6B6B6B;
}

#auth {
	margin-top: 250px;
}