@charset "utf-8";

    <!-- 
    body  {
    	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 12px;
		/*color: #6B6B6B;*/
    	color: #000000;
    	
		/*background-image:url(../img/fondopagina.jpg);*/
    	margin: 0; /* es recomendable ajustar a cero el margen y el relleno del elemento body para lograr la compatibilidad con la configuración predeterminada de los diversos navegadores */
    	padding: 0;
    	text-align: left; /* esto centra el contenedor en los navegadores IE 5*. El texto se ajusta posteriormente con el valor predeterminado de alineación a la izquierda en el selector #container */
    	/*color: #000000;*/
    }
    
    input, textarea {
		/*padding: 2px 5px;*/
		border: 1px solid #EBEBEB;
		font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
		color: #6B6B6B;
	}
    
    .twoColFixLtHdr #container { 
    	/*width: 750px; */ /* el uso de 20px menos que un ancho completo de 800px da cabida a los bordes del navegador y evita la aparición de una barra de desplazamiento horizontal */
    	height: 598px;
    	background: #FFFFFF;
    	margin: 0 auto; /* los márgenes automáticos (conjuntamente con un ancho) centran la página */
    	text-align: left; /* esto anula text-align: center en el elemento body. */
    } 
    .twoColFixLtHdr #header { 
    	/*background-image:url(../img/banner-gtm.png);*/
    	padding: 0 10px 0 20px;  /* este relleno coincide con la alineación izquierda de los elementos de los divs que aparecen bajo él. Si se utiliza una imagen en el #header en lugar de texto, es posible que le interese quitar el relleno. */
		height:100px;
    } 
    .twoColFixLtHdr #header h1 {
    	margin: 0; /* el ajuste en cero del margen del último elemento del div de #header evita la contracción del margen (un espacio inexplicable entre divs). Si el div tiene un borde alrededor, esto no es necesario, ya que también evita la contracción del margen */
    	padding: 10px 0; /* el uso de relleno en lugar de margen le permitirá mantener el elemento alejado de los bordes del div */
    }
    .twoColFixLtHdr #sidebar1 {
    	float: left; /* dado que este elemento es flotante, debe asignarse un ancho */
    	width: 150px; /* el ancho real de este div, en navegadores que cumplen los estándares, o el modo de estándares de Internet Explorer, incluirá el relleno y el borde además del ancho */
    	background-color: #FFFFFF; 
    	padding-right: 10px;
    	padding-left: 1px;
    	padding-bottom: 15px;
    	padding-top: 20px;
    }
    
    .twoColFixLtHdr #logout {
    	float: right;
    	width: 35px;
    }
    
    .twoColFixLtHdr #mainContent {     	
    	margin-left: 160px;
    	padding-right: 10px; 
    	padding-left: 10px;
    	padding-top: 10px;
    } 
    .twoColFixLtHdr #footer { 
    	/*width: 750px; */ /* el uso de 20px menos que un ancho completo de 800px da cabida a los bordes del navegador y evita la aparición de una barra de desplazamiento horizontal */
    	
    	margin: 0 auto; /* los márgenes automáticos (conjuntamente con un ancho) centran la página */
    	background:#07396E; 
    } 
    .twoColFixLtHdr #footer p {
    	margin-top: 0;
    	margin-bottom 0;    	
		color:#FFFFFF;
		text-align: center;
    }
    .fltrt { /* esta clase puede utilizarse para que un elemento flote en la parte derecha de la página. El elemento flotante debe preceder al elemento junto al que debe aparecer en la página. */
    	float: right;
    	margin-left: 8px;
    }
    .fltlft { /* esta clase puede utilizarse para que un elemento flote en la parte izquierda de la página. */
    	float: left;
    	margin-right: 8px;
    }
    .clearfloat { /* esta clase debe colocarse en un elemento div o break y debe ser el último elemento antes del cierre de un contenedor que incluya completamente a un elemento flotante */
    	clear:both;
        height:0;
        font-size: 1px;
        line-height: 0px;
    }
    --> 