body {
	background-image: url(../img/fondopagina.jpg);
	margin-bottom:0;
	margin-top:0;
}

#page {
	padding-left:117px;
	padding-right:117px;
}

#cont {
	background-color: #FFFFFF;
}

#banner {
	height:100px;
	padding-left:117px;
	padding-right:0;
}

/*#datosGenerales {
	width: 100%;
	background-color: #000000;		
}*/

#datos1 {
	height: 19;
	width: 18%;	
	background-color: #000000;	
}

#usuariosRegistrados {
	width: 26%;	 	
}

#usuariosConectados {
	width: 15%;
}

#datos2 {
	width: 26%;
}

#registrarse {
	width: 15%;	
}

#menu {
	float: left;
}

#contenido {
	float: right;
}